body, table, div, p, dl {
font-family: Lucida Grande, Verdana, Geneva, Arial, sans-serif;
    font-size: medium;
}

/* Ensure that <CODE> and <TT> text is as big as the <BODY> text and use a nicer font */
code, tt { 
    font-family: Consolas, Courier, monospace;
    font-size: medium;
}

/* Need this as <PRE> makes the text look smaller due to different font */
pre {
    font-size: 105%;
}

